.containerAll {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
  }

