.container {
  padding: 20px;
  position: relative;
}

.character {
  width: 300px;
  padding: 20px;
  background-color: #d6d5c9;
  border-radius: 20px 20px 0 0 ;
  position: relative;
}

.containerImage {
  position: relative;
}

.title {
  position: -ms-page;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-align: center;
  color: #0f224a;
  font-family: "Montserrat", sans-serif;
}

.customImg {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  transition: transform 0.2s;
}

.customImg:hover {
  transform: rotate(5deg); 
}

.customImg:hover {
  animation: shake 0.2s; 
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.types {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 0 0 50px 50px;
}

.type {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #ee8130;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.type:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.459);
}

.type:last-child {
  margin-right: 0;
}

.div {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(255, 0, 0, 0.308);
  padding: 20px 200px 200px 0px;
  color: rgba(255, 255, 255, 0);
  border-radius: 9% 50% 50% 50%;
}

