.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0f224a;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
}

.container a {
  color: #e92929;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
}

.container a:hover {
  color: #ffffff;
}

.logo {
  height: 80px;
}






